body{
    text-align: center;
}
.pergunta{
    font-family:'Pixelify Sans';
    font-size: 40px;
}
.alternativas{
    text-align: left;
    width: 300px;   margin: 10px auto;
    font-family: 'Pixelify Sans';     font-size: 20px;
    border: 2px dashed rgb(6, 29, 238);
    padding: 10px;
}
.pokemon{
    width: 400px;
    margin: 50px auto;
    padding: 20px;
}